* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none
}

nav {
    padding: 1.5rem;
    position: fixed;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    }  
   
   .logo{
    font-size: 2rem;
    font-weight: 600;
    float: inline-start;
    }

  .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    }


  .item a {
    padding: 0.25rem;
    margin: 20px;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    }

  .item a:hover {
    color: #3685fb;
    }

  .btn{
    border: 2px solid #3685fb;
    background-color: white;
    color: black;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    }
      
   .btn:hover{
    background-color: #3685fb;
    color: white;
    }


      @media (max-width: 768px) {
        .logo {
          margin-right: auto;
        }
      
        .menu {
          display: none;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
        }
      
        .menu.active {
          display: flex;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          margin: auto;
          background-color: #fff;
          flex-direction: column;
          align-items: center;
          padding: 1rem 0;
          border-radius: 0.5rem;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          z-index: 999;
          animation: slideDown 0.5s ease-in-out;
        }
      }
      /* Animation keyframes*/
      @keyframes slideDown {
          0% {
              transform: translateY(-10px);
              opacity: 0;
          }
          100% {
              transform: translateY(0);
              opacity: 1;
          }
      }